modules = ["web", "nodejs-20", "python-3.12"]
run = "npm start"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]

[[workflows.workflow]]
name = "install_packages"
mode = "sequential"
author = 8496234

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nodejs"

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "python3"

[[workflows.workflow]]
name = "run_application"
mode = "parallel"
author = 8496234

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[[workflows.workflow]]
name = "running application"
mode = "sequential"
author = 8496234

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "install_packages"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run_application"
