modules = ["web", "nodejs-20", "python-3.12"]
run = "npm start"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libyaml", "pkg-config", "qhull", "tcl", "tk"]

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "install_packages"
mode = "sequential"
author = 8496234

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nodejs"

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "python3"

[[workflows.workflow]]
name = "dev"
author = 8496234
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && REACT_APP_API_URL=/api npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && FLASK_ENV=development python app.py"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
